.service {
  .heading-tag{
    font-size: 3rem;
  }
  .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.3);
    .service-content {
        position: relative;
        &::after{
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: var(--bs-dark);
            transition: 0.5s;
            z-index: 1;
        }
      }
    .service-img {
        position: relative;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .service-content-inner {
            transition: 0.5s;
            text-transform: uppercase;
          }
        &::after{
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background: rgba(68, 210, 246, 0.4);
            transition: 0.5s;
        }
        img{
            transition: 0.5s;
        }
      }
  }
}

.service .service-item:hover .service-img img {
  transform: scale(1.2);
}

.service .service-item:hover .service-img::after {
  width: 100% !important;
  height: 100% !important;
}

.service .service-item:hover .service-content::after {
  width: 100% !important;
  height: 100% !important;
}

.service .service-item:hover .service-content .service-content-inner {
  position: relative;
  color: white !important;
  transition: 0.5s;
  z-index: 2;
}

.service .service-item:hover .service-content .service-content-inner a.h4 {
  color: white !important;
  transition: 0.5s;
}

.service
  .service-item:hover
  .service-content
  .service-content-inner
  a.h4:hover {
  color: var(--bs-primary) !important;
}
